@model PhotoApp.Models.Comment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.commentContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.commentContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.commentLikes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.commentLikes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.commentViews)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.commentViews)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.post)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.post.PostId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.commentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
