@model IEnumerable<PhotoApp.Models.Photo>

@{
    ViewData["Title"] = "My photos";
    ViewData["user"] = "_userId";
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
    var userId = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value.ToString();
    var isThere = false;
    int likeid;
}

<h1>My photos</h1>

<p>
    <a asp-action="Create">Add Photo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>


                    <img class="gallery-image" src="~/images/@item.ProfilePicture"
                         asp-append-version="true" />
                    @*to only display edit delete and likes when you own the photo*@


                    @if (item.ApplicationUser != null && item.Likes != null)
                    {
                        isThere = false;

                        foreach( var liker in item.Likes)
                        {

                            if(liker.PhotoLiker == userId)
                            {
                                isThere = true;
                            }
                        }
                    }
                <div class="image-details">
                    <h6>
                    </h6>
                    <a>
                        @item.Likes.Count()
                      
                    </a>
                    @if (isThere)
                    {
                    <a asp-action="UnLike" asp-controller="Photos" asp-route-id="@item.PhotoId" asp-route-photoOwner="@item.Id">
                        unlike
                    </a>

                    }
                    else
                    {

                    <a asp-action="Like" asp-controller="Photos" asp-route-id="@item.PhotoId" asp-route-photoOwner="@item.Id">
                        like
                    </a>
                    <a asp-action="Like" asp-controller="Photos" asp-route-id="@item.PhotoId" asp-route-photoOwner="@item.Id">
                        like
                    </a>
                    }
                </div>
                       


                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                </td>

            </tr>
        }
    </tbody>
</table>
