@model PhotoApp.Models.FollowViewModel

@{
    ViewData["Title"] = "My photos";
}

<h1>My photos</h1>

<p>
    <a asp-action="Create">Add Photo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
        </tr>
        <tr>
            <th>
               Follow
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            @*<td>
                <a asp-action="Details" asp-controller="Gallery" asp-route="@item.Id">
                    <div class="gallery-image" style="background-image:url(@image.url)"></div>
                    <span>@image.Title</span>
                </a>

                <img class="gallery-image" src="~/images/@item.Email"
                     asp-append-version="true" />
                <div class="image-details">
                    <a asp-action="Edit" asp-route-id="@item.">@item.UserName</a> |
                <a asp-action="Details" asp-route-id="@item.PhotoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PhotoId">Delete</a>
                </div>

            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
               
                <a asp-action="Follow" asp-controller="Photos"asp-route-id="@item.Id">
                    Follow
                </a>
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>*@
            
        </tr>
}
    </tbody>
</table>
